.choice{
    color:black;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size:40px;
}
.choice-us{
    color: orangered;
}
.resturant{
    color:rgb(39, 9, 122);
    
}
@media (max-width:450px){
    .choice{
        color:black;
        font-style: normal;
        text-transform: uppercase;
        font-weight: bold;
        font-size:30px;
    }
    .resturant{
        font-size: 15px;
        
    }

}