.card-header{
    height:320px;
}
.card:hover {
    box-shadow: 2px 2px 20px black;
}
@media (max-width:765px ) and (min-width:400px){
    .card-header{
        height:450px;
    }

}
@media (max-width:399px ) {
    .card-header{
        height:300px;
    }

}